<div class="text-center" id="professional-experience">
	<h3>Expériences professionnelles</h3>
</div>
<ul class="timeline">
    <li>
        <div class="timeline-badge">
          <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Architecte logiciel</h4>
            </div>
            <div class="timeline-body">
                <p>Système de gestion de créances et d'ordres de paiement pour un groupement de mutuelles (santé, prévoyance, retraite, assurance). Choix techniques, développement de l'API, du site web public et de l'administration, développement des batchs d'intégration des fichiers (créances, référentiels...).</p>
                <div class="text-center technos">
                	<span class="label label-default" data-toggle="tooltip" data-placement="top" title="Spring, Spring Batch, Hibernate">Java</span>
					<span class="label label-primary" data-toggle="tooltip" data-placement="top" title="TestNG, Sonar, ELK (Elastic Search, Logstash, Kibana), Docker">Qualité logicielle</span>
					<span class="label label-info" data-toggle="tooltip" data-placement="top" title="Ember JS, Spring REST, Spring Security">Web</span>
					<span class="label label-success" data-toggle="tooltip" data-placement="top" title="MySql">Base de données</span>
                </div>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Janvier 2016</p>
            </div>
        </div>
    </li>
    
    <li class="timeline-inverted">
        <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Responsable d'application</h4>
            </div>
            <div class="timeline-body">
                <p>Refonte du système d'information gérant l'ensemble des missions locales (organismes d'insertion professionnelle des jeunes). Migration des données de l'ancien système vers le nouveau.</p>
                <p>Réflexions et mises en place d'outils de qualité logicielle (intégration continue, tests, bonnes pratiques...)</p>
                <div class="text-center technos">
                	<span class="label label-default" data-toggle="tooltip" data-placement="top" title="Spring, Hibernate, RestHub">Java</span>
					<span class="label label-primary" data-toggle="tooltip" data-placement="top" title="TestNG, Mockito, Cucumber">Qualité logicielle</span>
					<span class="label label-info" data-toggle="tooltip" data-placement="top" title="Backbone JS, RestHub Backbone, Elastic search">Web</span>
					<span class="label label-success" data-toggle="tooltip" data-placement="top" title="Oracle/PostgreSQL">Base de données</span>
                </div>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Juillet 2014</p>
            </div>
        </div>
    </li>
    
    <li>
        <div class="timeline-badge">
            <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Chef de projet</h4>
            </div>
            <div class="timeline-body">
                <p>Projet de certification PCI DSS d'un projet de Back Office pour la SNCF. Analyse du besoin et rédaction des spécifications fonctionnelles. Conception de modules et réalisation de tests fonctionnels automatisés. Rôle de Product Owner (création et maintien d'un backlog projet, priorisation...).</p>
				<p>Méthodes de travail : TDD/ATDD</p>
				<div class="text-center technos">
					<span class="label label-default" data-toggle="tooltip" data-placement="top" title="Spring, Hibernate, RestHub, Spring Batch">Java</span>
					<span class="label label-primary" data-toggle="tooltip" data-placement="top" title="TestNG, Mockito, MakeItEasy, Concordion">Qualité logicielle</span>
					<span class="label label-info" data-toggle="tooltip" data-placement="top" title="Backbone JS, RestHub Backbone, jQuery, moment.js, amCharts">Web</span>
					<span class="label label-success" data-toggle="tooltip" data-placement="top" title="Oracle">Base de données</span>
				</div>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Mars 2011</p>
            </div>
        </div>
    </li>
    
    <li class="timeline-inverted">
        <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Responsable d'application</h4>
            </div>
            <div class="timeline-body">
                <p>Développement d'un web service d'envoi de SMS. Refonte des serveurs vocaux interactifs (SVI) de la CNAF (Caisse Nationale des Allocations Familiales) en Struts et VXML.</p>
                <div class="text-center technos">
					<span class="label label-default" data-toggle="tooltip" data-placement="top" title="Spring, Hibernate, Hades, CXF">Java</span>
					<span class="label label-primary" data-toggle="tooltip" data-placement="top" title="JUnit">Qualité logicielle</span>
					<span class="label label-info" data-toggle="tooltip" data-placement="top" title="Struts">Web</span>
					<span class="label label-success" data-toggle="tooltip" data-placement="top" title="MySql">Base de données</span>
				</div>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Juillet 2010</p>
            </div>
        </div>
    </li>
    <li class="clearfix no-float"></li>
</ul>
