<div class="text-center" id="contact-me">
	<h3>Me contacter</h3>
	<p>Vous avez des questions ? Une idée de projet ? Envoyez-moi un message et je vous répondrai au plus vite.</p>
</div>
<form class="contact-form" action="//formspree.io/contact@feedes.fr" method="post">
	<div class="row">
		<div class="form-group col-xs-12 col-sm-6 col-lg-3 col-lg-offset-3">
			<input type="text" class="form-control" id="name" name="name" placeholder="Votre Nom" required>
		</div>
		<div class="form-group col-xs-12 col-sm-6 col-lg-3">
			<input type="email" class="form-control" id="_replyto" name="_replyto" placeholder="Votre Email" required>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-12 col-sm-12 col-lg-6 col-lg-offset-3">
			<input type="text" class="form-control" id="_subject" name="_subject" placeholder="Sujet" required>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-12 col-lg-6 col-lg-offset-3">
			<textarea id="text" name="message" class="form-control" placeholder="Votre texte" rows="3" required></textarea>
		</div>
	</div>
	<div class="row text-center">
		<input type="text" name="_gotcha" class="hidden"/>
		<button class="btn btn-info" value="Envoyer" type="submit"><i id="send-icon" class="fa fa-envelope"></i>&nbsp;Envoyer</button>
		{{!-- <a {{action "submitForm"}} class="btn btn-info"><i id="send-icon" class="fa fa-envelope"></i>&nbsp;Envoyer</a> --}}
	</div>
</form>
