<nav class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-center">
			<li><a href="https://fr.linkedin.com/in/pjvilloud"><i class="fa fa-linkedin-square"></i>&nbsp;<span class="hidden-xs">LinkedIn</span></a></li>
			<li><a href="https://twitter.com/pjvilloud"><i class="fa fa-twitter-square"></i>&nbsp;<span class="hidden-xs">Twitter</span></a></li>
			<li><a href="https://github.com/pijey/"><i class="fa fa-github-square"></i>&nbsp;<span class="hidden-xs">Github</span></a></li>
			<li><a href="tel:0783948896"><i class="fa fa-phone-square"></i>&nbsp;<span class="hidden-xs">Téléphone</span></a></li>
		</ul>
	</div>
</nav>
	
