<nav class="bg-dark fixed-bottom nav nav-fill">
  <a class="nav-link nav-item" href="https://fr.linkedin.com/in/pjvilloud"><i class="fa fa-linkedin-square"></i>&nbsp;<span class="hidden-xs">LinkedIn</span></a>
  <a class="nav-link nav-item" href="https://twitter.com/pjvilloud"><i class="fa fa-twitter-square"></i>&nbsp;<span class="hidden-xs">Twitter</span></a>
  <a class="nav-link nav-item" href="https://github.com/pjvilloud/"><i class="fa fa-github-square"></i>&nbsp;<span class="hidden-xs">Github</span></a>
  <a class="nav-link nav-item" href="tel:0783948896"><i class="fa fa-phone-square"></i>&nbsp;<span class="hidden-xs">Téléphone</span></a>
</nav>

