<div class="jumbotron">
  <div class="container">
  	<div class="row vertical-center">
  		<div class="col-xs-8">
  			<h1>Bienvenue !</h1>
  			<p class="text-justify">Ingénieur en informatique, je travaille actuellement à mi-temps pour la société <a href="http://worldline.com/fr/accueil.html">Worldline</a>. Le reste du temps, je développe des sites webs et des applications mobiles dans le cadre de <a href="#">projets</a> personnels ou pour le compte de clients.</p>
  			<p class="text-center"><a class="btn btn-default btn-lg" href="#" role="button">Voir mes réalisations</a>&nbsp;<a class="btn btn-primary btn-lg" href="#" role="button">Me contacter</a></p>
  		</div>
  		<div class="col-xs-4">
  			<ul class="list-group">
  				<li class="list-group-item"><a href="tel:0783948896"><i class="fa fa-phone"></i><span class="hidden-xs">&nbsp;Téléphone</span><span class="pull-right">07 83 94 88 96</span></a></li>
  				<li class="list-group-item"><a href="https://fr.linkedin.com/in/pjvilloud"><i class="fa fa-linkedin"></i><span class="hidden-xs">&nbsp;LinkedIn</span><span class="pull-right">pjvilloud</span></a></li>
  				<li class="list-group-item"><a href="https://twitter.com/pjvilloud"><i class="fa fa-twitter"></i><span class="hidden-xs">&nbsp;Twitter</span><span class="pull-right">@pjvilloud</span></a></li>
  				<li class="list-group-item"><a href="https://github.com/pijey/"><i class="fa fa-github"></i><span class="hidden-xs">&nbsp;GitHub</span><span class="pull-right">pijey</span></a></li>
  			</ul>
  		</div>
  	</div>
    
  </div>
</div>
