<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <h1 class="display-4">Bonjour !</h1>

        <p class="text-justify">Ingénieur en informatique, je développe des sites webs dans le cadre de <a href="#">projets</a> personnels ou pour le compte de clients.</p>
        <p>Je suis également formateur à l'<a href="http://www.ipi-ecoles.com/" target="_blank" rel="noopener">IPI</a>.</p>
        <p class="text-center"><a class="btn btn-secondary btn-lg" href="#" role="button" {{action "slideTo" "portfolio-section"}}>Voir mes réalisations</a>&nbsp;<a class="btn btn-primary btn-lg" href="#" role="button" {{action "slideTo" "contact-me"}}>Me contacter</a></p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <ul class="list-group">
          <li class="list-group-item"><a href="tel:0783948896"><i class="fa fa-phone"></i><span class="hidden-xs">&nbsp;Téléphone</span><span class="pull-right">07 83 94 88 96</span></a></li>
          <li class="list-group-item"><a href="https://fr.linkedin.com/in/pjvilloud"><i class="fa fa-linkedin"></i><span class="hidden-xs">&nbsp;LinkedIn</span><span class="pull-right">pjvilloud</span></a></li>
          <li class="list-group-item"><a href="https://twitter.com/pjvilloud"><i class="fa fa-twitter"></i><span class="hidden-xs">&nbsp;Twitter</span><span class="pull-right">@pjvilloud</span></a></li>
          <li class="list-group-item"><a href="https://github.com/pjvilloud/"><i class="fa fa-github"></i><span class="hidden-xs">&nbsp;GitHub</span><span class="pull-right">pjvilloud</span></a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
