<div class="text-center" id="my-training">
	<h3>Formation</h3>
</div>
<ul class="timeline">
    <li>
        <div class="timeline-badge">
            <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Ingénieur INSA Lyon</h4>
            </div>
            <div class="timeline-body">
                <p>&nbsp;</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Promotion 2010</p>
            </div>
        </div>
    </li>
    
    <li  class="timeline-inverted">
        <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Technicien Génie Logiciel IUT2 Grenoble</h4>
            </div>
            <div class="timeline-body">
                <p>&nbsp;</p>
            </div>
            <div class="timeline-footer primary">
                <p class="text-right">Promotion 2007</p>
            </div>
        </div>
    </li>
    <li class="clearfix no-float"></li>
</ul>
