<div class="text-center" id="portfolio-section">
	<h3>Réalisations</h3>
	<p>Voici quelques projets que j'ai réalisés.</p>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="panel panel-info burnout">
			<div class="panel-heading">
				<img src="/img/burnoutlafindureve.png" alt="Burnout la fin du rêve" class="img-responsive">
			</div>
			<div class="panel-body text-center">
				<h4>Burnout : la fin du rêve</h4>
				<p class="text-justify">Ce site présente le premier livre écrit par Stéphane qui raconte son voyage sensoriel au cœur d’une catastrophe invisible qui dévaste en quelques instants trente ans de rêve.</p>
				<div class="technos">
					<span class="label label-default">HTML/CSS/PHP</span>
					<span class="label label-primary">Wordpress</span>
					<span class="label label-info">PayPal</span>
				</div>	
				<div class="text-center">
					<a href="http://www.burnoutlafindureve.fr" target="_blank" class="btn btn-default burnout">Visiter le site</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<img src="/img/naturellesens.png" alt="NaturElleSens" class="img-responsive">
			</div>
			<div class="panel-body text-center">
				<h4>NaturElleSens</h4>
				<p class="text-justify">Ce site présente l'activité d'Isabelle, qui accompagne des enfants pour les aider à renouer avec l'enthousiasme d'apprendre et développer, entre autres, leur confiance en eux.</p>
				<div class="technos">
					<span class="label label-default">HTML/CSS/PHP</span>
					<span class="label label-primary">Wordpress</span>
				</div>
				<div class="text-center">
					<a href="http://www.naturellesens.fr" target="_blank" class="btn btn-default naturellesens">Visiter le site</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="panel panel-info feedes">
			<div class="panel-heading">
				<img src="/img/feedes.png" alt="Feedes" class="img-responsive">
			</div>
			<div class="panel-body text-center">
				<h4>Feedes</h4>
				<p class="text-justify">Ce site présente le projet Feedes dont le but est de rétablir la confiance entre les acteurs de l'agro-alimentaire désireux de rentrer dans une démarche de transparence et le grand public.</p>
				<div class="technos">
					<span class="label label-default">HTML/CSS</span>
					<span class="label label-success">EmberJS</span>
				</div>
				<div class="text-center">
					<a href="http://www.feedes.fr" target="_blank" class="btn btn-default feedes">Visiter le site</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-heading text-center">
				<h2>PFN</h2>
			</div>
			<div class="panel-body text-center">
				<h4>Planning Familial Naturel</h4>
				<p class="text-justify">Ce projet est constitué d'un site web et d'une application mobile hybride présentant et assistant les femmes et couples qui souhaitent suivre leur fertilité de manière naturelle.</p>
				<div class="technos">
					<span class="label label-default">HTML/CSS</span>
					<span class="label label-success">EmberJS</span>
					<span class="label label-warning">Cordova</span>
				</div>
				<div class="text-center">
					<a href="http://pijey.github.io/pfn/" target="_blank" class="btn btn-primary">Visiter le site</a>
				</div>
			</div>
		</div>
	</div>
</div>