<div class="text-center" id="portfolio-section">
  <h3>Réalisations</h3>
  <p>Voici quelques projets que j'ai réalisés ou auxquels j'ai participé.</p>
</div>
<div class="row">

  <Project @title="Plugandwork" @img="plugandwork.png" @btn-color="btn-secondary" @border-color="border-light" @bg-color="bg-light" @description="Intégration de l'équipe de développement de Plugandwork sur leur projets Front. Définition et accompagnement dans la mise en place d'une démarche qualité au niveau fonctionnel et technique dans leurs équipes." @website="https://plugandwork.fr/">
    <span class="badge badge-info">HTML/CSS/EmberJS</span>
  </Project>

  <Project @title="Sherpa Helicopters" @img="Sherpa_logo.png" @btn-color="btn-secondary" @border-color="border-light" @bg-color="bg-light" @description="Ce site présente les activités et compétences de la société Sherpa Helicopters, lancée par Olivier Pascual, qui vous propose des formations et accompagnements pour tout type d'opération aérienne." @website="http://sherpa-helicopters.com">
    <span class="badge badge-info">HTML/CSS/EmberJS</span>
  </Project>

  <Project @title="Les Jardins de Moucheyres" @bg-color="jdm" @btn-color="jdm" @border-color="jdm" @img="jdm.png" @description="Ce site présente notre chambre d'hôte et les activités de maraîchage, de castanéiculture et de transformations végétales de notre micro-ferme agro-écologique située en Ardèche." @website="https://jardinsdemoucheyres.fr" @color="info">
    <span class="badge badge-light">AWS API Gateway/AWS Lambda/AWS Cognito</span>
    <span class="badge badge-success">AWS DynamoDB</span>
    <span class="badge badge-info">HTML/CSS/EmberJS</span>
  </Project>

  <Project @title="Cotizen" @img="cotizen.png" @btn-color="naturellesens" @description="Cette plateforme donne la possibilité aux employeurs et tiers-payeurs de payer en ligne toutes les cotisations sociales de retraite complémentaire, de prévoyance et de santé." @website="https://www.cotizen.fr" @color="light">
    <span class="badge badge-light">Spring</span>
    <span class="badge badge-info">HTML/CSS/EMberJS</span>
  </Project>

  <Project @title="Burnout : la fin du rêve" @bg-color="burnout" @btn-color="burnout" @border-color="burnout" @img="burnoutlafindureve.png" @description="Ce site présente le premier livre écrit par Stéphane qui raconte son voyage sensoriel au cœur d’une catastrophe invisible qui dévaste en quelques instants trente ans de rêve." @website="http://www.burnoutlafindureve.fr" @color="light">
    <span class="badge badge-light">HTML/CSS/PHP</span>
    <span class="badge badge-primary">Wordpress</span>
    <span class="badge badge-info">PayPal</span>
  </Project>

  <Project @title="Papier, Cailloux, Stylo" @bg-color="naturellesens" @img="pcs.png" @description="Ce site présente l'activité d'Isabelle, qui accompagne les personnes qui ont envie de mettre de la couleur, du lâcher prise, et de la joie dans leur vie personnelle et/ou professionnelle." @color="light">
    <span class="badge badge-light">HTML/CSS/PHP</span>
    <span class="badge badge-primary">Wordpress</span>
  </Project>

  <Project @title="Feedes" @border-color="feedes" @bg-color="feedes" @btn-color="feedes" @img="feedes.png" @description="Ce site présente le projet Feedes dont le but est de rétablir la confiance entre les acteurs de l'agro-alimentaire désireux de rentrer dans une démarche de transparence et le grand public." @website="http://www.feedes.fr">
    <span class="badge badge-light">HTML/CSS</span>
    <span class="badge badge-success">EmberJS</span>
  </Project>

  <Project @title="Planning Familial Naturel" color="primary" @bg-color="bg-primary" @btn-color="btn-primary" @img-text="PFN" @description="Ce projet est constitué d'un site web et d'une application mobile hybride présentant et assistant les femmes et couples qui souhaitent suivre leur fertilité de manière naturelle." @color="light" @website="http://pijey.github.io/pfn/">
    <span class="badge badge-light">HTML/CSS</span>
    <span class="badge badge-success">EmberJS</span>
    <span class="badge badge-warning">Cordova</span>
  </Project>

</div>